*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    min-width: 280px;
}

.container {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
}

.content-wrapper {
    position: relative;
    background-color: #f1f1f1;
}

.header-wrapper {
    background-color: #222222;
    position: sticky;
    z-index: 10;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 20px;
}

.logo-link {
    text-decoration: none;
    color: #F65292;
    display: flex;
    align-items: center;

}

.logo-image {
    width: 50px;
}

.logo-text {
    font-family: 'DynaPuff', cursive;
    font-size: 24px;
    font-weight: 700;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
}

.navbar-link {
    text-decoration: none;
    color: #e4e2e2;
}

.navbar-link:hover {
    opacity: 0.7;
}

.hamburger-menu{
    display: none;
    cursor: pointer;
}
  
.hamburger-menu-line {
    display: block;
    width: 22px;
    height: 3px;
    margin: 5px 0;
    border-radius: 25px;
    background-color: #e4e2e2;
    transition: all 0.3s ease;
}

.menu-wrapper {
    margin: 80px 0 100px;
    min-height: calc(100vh - 133px);
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;    
    align-items: center;
}

.menu-item {
    text-decoration: none;
    width: 80%;
    display: flex;
    gap: 30px;
    color: black;
    border-top: 1px solid rgba(187, 182, 182, 0.6);
    border-bottom: 1px solid rgba(187, 182, 182, 0.6);
    transition: background-color 0.3s ease-in-out;
}

.menu-item:hover {
    background-color: rgba(223, 221, 221, 0.6);
}

.item-image {
    width: 250px;
    height: 180px;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 320px);
    padding: 10px 0;
    gap: 20px;
}

.item-title {
    font-size: 20px;
    font-weight: 500;
}

.item-description {
    margin: 10px 0 0;
    color: #515151;
    line-height: 22px;
}

.item-price {
    font-size: 16px;
    font-weight: 500;
}

.arrow-link {
    background-color: rgba(187, 182, 182, 0.6);
    padding: 10px 11px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 90px;
}

.arrow-link:hover {
    opacity: 0.7;
}

.arrow {
    width: 20px;
    fill:#545252;
}

.footer-wrapper {
    background-color: #222222;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-info {
    color: #e4e2e2;
}



.section-wrapper {
    min-height: calc(100vh - 133px);
    margin: 60px 0 80px;
}

.sculpture-section {
    display: flex;
    justify-content: center;
}

.sculpture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid rgba(187, 182, 182, 0.6);
    background-color: whitesmoke;
}

.sculpture-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.sculpture-info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sculpture-title {
    font-size: 24px;
    font-weight: 500;
}

.sculpture-location {
    display: flex;
    align-items: flex-end;
    color: #515151;
}

.sculpture-location::before {
    content: "";
    background-image: url('https://cdn3.iconfinder.com/data/icons/faticons/32/location-01-512.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.sculpture-price {
    font-size: 26px;
    font-weight: 400;
    color: #004F2D;
    /* color: #03683d; */
}

.sculpture-description {
    margin: 0;
    line-height: 140%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 16px;
    max-width: 150px;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 1px 3px 18px 0px rgba(0,0,0,0.5)
}

.button.delete {
    align-self: center;
    background-color: #c13643;
}

.button-image {
    width: 17px;
    height: 20px;
}

.message-wrapper {
    height: calc(100vh - 133px);
    display: flex;
    justify-content: center;
    align-items: center;
 }

.message {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #03683d;
}

.form-wrapper {
    min-height: calc(100vh - 133px);
    margin: 50px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form-title {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 500;
}

.form-element {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-element label {
    font-size: 14px;
    font-weight: 500;
}

.form-element input {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 10px;
    border: none;
}

.button.submit {
    background-color: #00896F;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button.submit svg {
    fill: white;
    width: 18px;
    height: 18px;
}

.form-message {
    font-size: 22px;
    font-weight: 500;
}

@media (max-width: 982px) {
    .menu-item {
        width: 100%;
    }

    .sculpture {
        width: 80%;
    }
}

@media (max-width: 795px) {
    .menu-item {
        align-items: center;
    }

    .item-info {
        width: calc(100% - 300px);
    }

    .form-element {
        width: 70%;
    }
}

@media (max-width: 636px) {
    .container {
        padding: 0 20px;
    }

    .menu-wrapper {
        margin: 40px 0 80px;
    }

    .menu-list {
        gap: 45px;
    }

    .menu-item {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        padding: 10px 0;
    }

    .item-image {
        width: 90%;
        height: 350px;
    }

    .item-info {
        width: 90%;
        padding: 0;
    }

    .arrow-link {
        bottom: 80px;
    }

    .sculpture {
        width: 100%;
    }

    .form-element {
        width: 90%;
    }
}

@media (max-width: 435px) {
    .logo-image {
        width: 40px;
    }

    .logo-text {
        font-size: 20px;
    }
    /* display hamburger-menu */
    .navbar-list {
        position: fixed;
        right: -100%;
        top: 64px;
        gap: 25px;
        flex-direction: column;
        justify-content: center;
        background-color: #222222;
        width: 100%;
        height: 30%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }
        
    .navbar-list.active {
        right: 0;
    }
        
    .navbar-item {
        margin: 0;
    }
    
    .navbar-link {
        font-size: 18px;
        padding: 0;
    }
    
    .hamburger-menu {
        display: block;
        z-index: 10;
    }
    
    .hamburger-menu.active .hamburger-menu-line:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active .hamburger-menu-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger-menu.active .hamburger-menu-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .item-image {
        height: 250px;
    }

    .sculpture {
        margin: 40px 0 50px;
    }
}